<!DOCTYPE html>
<html>
<head>
	<title>Dojo Surveys' Index</title>
</head>
<body>
	<div>
		<form name = "form_1" action="result.html" method=['POST']>
			Your Name: <input type="text" name="your_name">
			<select name="Location">
				Which Dojo Location are you currently at?: 
				<option value="Chicago">Chicago</option>
				<option value="Los Angeles">Los Angeles</option>
				<option value="San Diego">San Diego</option>
			</select>
			<button type="submit">Submit</button>
		</form>
		<form name = "form_2" action="result.html" method=['POST']>
			Favorite language: <input type="text" name="language">
			<select name="fav_language">
				Of all the languages and dialect you've heard so for in your lifetime, can you narrow it down into one language you love the most?: 
				<option value="Engligh">Engligh</option>
				<option value="Spanish">Spanish</option>
				<option value="Portugese">Portugese</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</div>
</body>
</html>